@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background: url("../assets/Background.jpg") no-repeat center center;
  background-size: cover;
}

.grid-qualitys {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-room {
  grid-column: 1/2;
  grid-row: 1/3;
}
